@use 'variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: $bg-canvas;
  color: $text-primary;
  font-family: $font-ui;
}

ng-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
